@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Sixtyfour;
  src: url("/font/Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf")
    format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #334155;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  main > section {
    @apply px-4;
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(50%);
    opacity: 0;
  }
}

@keyframes modal-bop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes modal-bop-close {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #3b82f6;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;
}

.translateZ0 {
  transform: translateZ(0);
}
